<!DOCTYPE html>
<html lang="{{ site.isolang }}" itemscope itemtype="http://schema.org/WebPage">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="section my-section" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
        <h1 itemprop="headline"><a class="my-name" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p class="my-description" itemprop="text">
          {{ site.about }}
          <br>
          <i class="fa fa-map-marker"></i> {{ site.location }}
        </p>
        <div class="row">
          <div class="col s12 m8 offset-m2 l10 offset-l1">
            <div id="menu">
              <a id="home-btn" href="{{site.baseurl}}/" class="waves-effect waves-teal btn-flat btn-large">{{ site.home_btn }}</a>
              <a id="classes-btn" class="waves-effect waves-teal btn-flat btn-large">{{ site.classes_btn }}</a>
              <a id="students-btn" class="waves-effect waves-teal btn-flat btn-large">{{ site.students_btn }}</a>
            </div>
            <hr>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
